rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // Allow full read and write access to all collections and documents
    // (Recommended for Development & Testing)
    match /{document=**} {
      allow read, write: if true;
    }

  }
}
